.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--login-background);
}

.login__form {
  height: 70%;
  width: 80%;
  color: var(--font-color);
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 28, 127, 0.2);
  border-radius: 30px;
  border: 1px solid #6049bd;
}

.login__title {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.login__input-container {
  width: 100%;
}

.login__form-label {
  display: block;
  margin-bottom: .2rem;
}

.login__form-input {
  margin-bottom: 1.5rem;
  width: 100%;
  padding: .7rem 1.5rem;
  border-radius: 10px;
  border: 2px solid #6b53ca;
  background: transparent;
  color: var(--font-color);
  font-size: 1rem;
}

.login__form-btn {
  color: var(--font-color);
  margin-top: 2rem;
  width: 100%; 
  padding: .8rem 0;
  font-weight: 700;
  border: solid #705cbe;
  border-width: 0 0 4px;
  border-radius: 10px;
  background-color: rgb(53, 36, 101, 0.8);
  cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1024px) {
  
  .login__form {
    height: 70%;
    width: 60%;
  }
  
}

@media (min-width: 1025px) {
  
  .login__form {
    height: 60%;
    width: 30%;
  }
  
}


