.home-page {
  background: var(--general-background);
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #7e60af;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}