.home-page {
  background: var(--general-background);
  padding: 5% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #7e60af;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.home-header__title {
  color: var(--font-color);
  font-size: 1.5rem;
  margin-bottom: .8rem;
}

.cards-container {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
}