.navbar {
  height: 7vh;
  width: 100%;
  background-color: #352566;
  border-top: 1px solid var(--font-color);
  display: flex;
  align-items: center;
  padding: 0 5%;
  position: fixed;
  bottom: 0;
}

.navbar__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__list-item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: .8rem 1rem;
  border: none;
}

.navbar__icon {
  color: var(--font-color);
  font-size: 1.5rem;
  margin-right: .5rem;
}

.navbar__link {
  font-size: 1.rem;
  color: var(--font-color);
  text-decoration: none;
  margin-left: .5rem;
  line-height: 0;
}

.navbar__link:link, .navbar__link:visited {
  color: var(--font-color);
}

.active {
  border-radius: 15px;
  background-color: #502F87;
  color: #F9F5FF;
}
