.header {
  height: 7vh;
  width: 100%;
  background-color: #352566;
  border-bottom: 1px solid var(--font-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--font-color);
  font-size: 1.1rem;
}

.logo__icon {
  font-size: 1.4rem;
  margin-right: .5rem;
}

.header__logout-btn {
  color: var(--font-color); 
  padding: .3rem .5rem; 
  font-weight: 700;
  border: 1px solid #ad9bf8;
  border-radius: 10px;
  background-color: rgba(127, 125, 248, 0.589);
  cursor: pointer;
}