.favorites {
  color: var(--font-color);
  padding: 4% 7%;
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: flex;
  flex-direction: column;
}

.favorites__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cards-container {
  padding: 0;
  margin: 0;
  margin: 1.5rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
}
