@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap'); 

:root { 
  --background: linear-gradient(51.21deg, #352566 15.55%, #4B389A 22.35%, #4E3A9C 27.64%, #694DB4 35.53%, #4D378D 46.11%, #44328E 53.82%, #3E2C75 62.24%, #352566 68.87%);
  --font-color: #ddd1ff; 
}

* {
  box-sizing: border-box; 
}

body {
  font-size: 1rem; 
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, p {
  margin: 0;
}
